@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Oswald:200,500|Raleway:300,600,300italic,600italic");

html, body, div, span,  h1, h2, h3, h4, h5, h6, p, em, img, strong, b, u, i, center, article, footer, header, section, {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#one, #two, #three, #four {
	/*rgba(32,26,22,.7)*/
	background-color: rgba(255, 255, 255,.5);
	border-radius: 2px;
}

#two {
	margin-bottom: 0;
}

#three {
	margin-top: 0;
	margin-bottom: 0;
}

#four {
	margin-top: 0;
}

#header-picture {
	margin-bottom: 2em;
	display: inline-block;
	max-width: 100%;
}

#picture-of-me {
	width: 100%;
}

#header-text, #five {
	background-color: rgba(32,26,22,.8);
	padding: 1em;
}

#header-text h2 {
	font-weight: 500;
}

#technical {
	width: 40em;
}

.center {
	text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	margin: 0;
}

body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background-image: linear-gradient(to top, rgba(32,26,22,.5), rgba(32,26,22,.5)), url("../../images/seattle.jpg");
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

ol, ul {
	list-style: none;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Grid */

.row {
	border-bottom: solid 1px transparent;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row > * {
	float: left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row:after, .row:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.row.uniform > * > :first-child {
	margin-top: 0;
}

.row.uniform > * > :last-child {
	margin-bottom: 0;
}

.row.\30 \25 > * {
	padding: 0 0 0 0em;
}

.row.\30 \25 {
	margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25 > * {
	padding: 0em 0 0 0em;
}

.row.uniform.\30 \25 {
	margin: 0em 0 -1px 0em;
}

.row > * {
	padding: 0 0 0 1.75em;
}

.row {
	margin: 0 0 -1px -1.75em;
}

.row.uniform > * {
	padding: 1.75em 0 0 1.75em;
}

.row.uniform {
	margin: -1.75em 0 -1px -1.75em;
}

.row.\32 00\25 > * {
	padding: 0 0 0 3.5em;
}

.row.\32 00\25 {
	margin: 0 0 -1px -3.5em;
}

.row.uniform.\32 00\25 > * {
	padding: 3.5em 0 0 3.5em;
}

.row.uniform.\32 00\25 {
	margin: -3.5em 0 -1px -3.5em;
}

.row.\31 50\25 > * {
	padding: 0 0 0 2.625em;
}

.row.\31 50\25 {
	margin: 0 0 -1px -2.625em;
}

.row.uniform.\31 50\25 > * {
	padding: 2.625em 0 0 2.625em;
}

.row.uniform.\31 50\25 {
	margin: -2.625em 0 -1px -2.625em;
}

.row.\35 0\25 > * {
	padding: 0 0 0 0.875em;
}

.row.\35 0\25 {
	margin: 0 0 -1px -0.875em;
}

.row.uniform.\35 0\25 > * {
	padding: 0.875em 0 0 0.875em;
}

.row.uniform.\35 0\25 {
	margin: -0.875em 0 -1px -0.875em;
}

.row.\32 5\25 > * {
	padding: 0 0 0 0.4375em;
}

.row.\32 5\25 {
	margin: 0 0 -1px -0.4375em;
}

.row.uniform.\32 5\25 > * {
	padding: 0.4375em 0 0 0.4375em;
}

.row.uniform.\32 5\25 {
	margin: -0.4375em 0 -1px -0.4375em;
}

.\36 u, .\36 u\24 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

.\-11u {
	margin-left: 91.66667%;
}

.\-10u {
	margin-left: 83.33333%;
}

.\-9u {
	margin-left: 75%;
}

.\-8u {
	margin-left: 66.66667%;
}

.\-7u {
	margin-left: 58.33333%;
}

.\-6u {
	margin-left: 50%;
}

.\-5u {
	margin-left: 41.66667%;
}

.\-4u {
	margin-left: 33.33333%;
}

.\-3u {
	margin-left: 25%;
}

.\-2u {
	margin-left: 16.66667%;
}

.\-1u {
	margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {

	.row > * {
		padding: 0 0 0 1.75em;
	}

	.row {
		margin: 0 0 -1px -1.75em;
	}

	.row.uniform > * {
		padding: 1.75em 0 0 1.75em;
	}

	.row.uniform {
		margin: -1.75em 0 -1px -1.75em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 3.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -3.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 3.5em 0 0 3.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -3.5em 0 -1px -3.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 2.625em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -2.625em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 2.625em 0 0 2.625em;
	}

	.row.uniform.\31 50\25 {
		margin: -2.625em 0 -1px -2.625em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.875em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.875em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.875em 0 0 0.875em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.875em 0 -1px -0.875em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.4375em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.4375em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.4375em 0 0 0.4375em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.4375em 0 -1px -0.4375em;
	}

}

@media screen and (max-width: 1280px) {

	.row > * {
		padding: 0 0 0 1.75em;
	}

	.row {
		margin: 0 0 -1px -1.75em;
	}

	.row.uniform > * {
		padding: 1.75em 0 0 1.75em;
	}

	.row.uniform {
		margin: -1.75em 0 -1px -1.75em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 3.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -3.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 3.5em 0 0 3.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -3.5em 0 -1px -3.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 2.625em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -2.625em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 2.625em 0 0 2.625em;
	}

	.row.uniform.\31 50\25 {
		margin: -2.625em 0 -1px -2.625em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.875em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.875em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.875em 0 0 0.875em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.875em 0 -1px -0.875em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.4375em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.4375em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.4375em 0 0 0.4375em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.4375em 0 -1px -0.4375em;
	}

}

@media screen and (max-width: 980px) {

	.row > * {
		padding: 0 0 0 1.75em;
	}

	.row {
		margin: 0 0 -1px -1.75em;
	}

	.row.uniform > * {
		padding: 1.75em 0 0 1.75em;
	}

	.row.uniform {
		margin: -1.75em 0 -1px -1.75em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 3.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -3.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 3.5em 0 0 3.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -3.5em 0 -1px -3.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 2.625em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -2.625em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 2.625em 0 0 2.625em;
	}

	.row.uniform.\31 50\25 {
		margin: -2.625em 0 -1px -2.625em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.875em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.875em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.875em 0 0 0.875em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.875em 0 -1px -0.875em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.4375em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.4375em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.4375em 0 0 0.4375em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.4375em 0 -1px -0.4375em;
	}

}

@media screen and (max-width: 736px) {

	.row > * {
		padding: 0 0 0 1.25em;
	}

	.row {
		margin: 0 0 -1px -1.25em;
	}

	.row.uniform > * {
		padding: 1.25em 0 0 1.25em;
	}

	.row.uniform {
		margin: -1.25em 0 -1px -1.25em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 2.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -2.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 2.5em 0 0 2.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -2.5em 0 -1px -2.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 1.875em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -1.875em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 1.875em 0 0 1.875em;
	}

	.row.uniform.\31 50\25 {
		margin: -1.875em 0 -1px -1.875em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.625em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.625em 0 0 0.625em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.625em 0 -1px -0.625em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.3125em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.3125em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.3125em 0 0 0.3125em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.3125em 0 -1px -0.3125em;
	}

}

@media screen and (max-width: 640px) {

	.fit {
		width: 100%;
	}

	.row > * {
		padding: 0 0 0 1.25em;
	}

	.row {
		margin: 0 0 -1px -1.25em;
	}

	.row.uniform > * {
		padding: 1.25em 0 0 1.25em;
	}

	.row.uniform {
		margin: -1.25em 0 -1px -1.25em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 2.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -2.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 2.5em 0 0 2.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -2.5em 0 -1px -2.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 1.875em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -1.875em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 1.875em 0 0 1.875em;
	}

	.row.uniform.\31 50\25 {
		margin: -1.875em 0 -1px -1.875em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.625em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.625em 0 0 0.625em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.625em 0 -1px -0.625em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.3125em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.3125em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.3125em 0 0 0.3125em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.3125em 0 -1px -0.3125em;
	}

}

@media screen and (max-width: 360px) {

	.row > * {
		padding: 0 0 0 1.25em;
	}

	.row {
		margin: 0 0 -1px -1.25em;
	}

	.row.uniform > * {
		padding: 1.25em 0 0 1.25em;
	}

	.row.uniform {
		margin: -1.25em 0 -1px -1.25em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 2.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -2.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 2.5em 0 0 2.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -2.5em 0 -1px -2.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 1.875em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -1.875em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 1.875em 0 0 1.875em;
	}

	.row.uniform.\31 50\25 {
		margin: -1.875em 0 -1px -1.875em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 0.625em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -0.625em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 0.625em 0 0 0.625em;
	}

	.row.uniform.\35 0\25 {
		margin: -0.625em 0 -1px -0.625em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.3125em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.3125em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.3125em 0 0 0.3125em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.3125em 0 -1px -0.3125em;
	}
}

/* Basic */

@-ms-viewport {
	width: device-width;
}

body {
	-ms-overflow-style: scrollbar;
}

@media screen and (max-width: 640px) {

	html, body {
		min-width: 320px;
	}

}

body {
	background-color: #2e3141;
	background-image: linear-gradient(to top, rgba(32,26,22,.5), rgba(32,26,22,.5)), url("../../images/seattle.jpg");
	background-size: auto, cover;
	background-attachment: fixed, fixed;
	background-position: center, center;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

/* Type */

body, input, select, textarea {
	color: #ffffff;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 16.5pt;
	font-weight: 300;
	line-height: 1.65;
}

@media screen and (max-width: 1680px) {

	body, input, select, textarea {
		font-size: 13pt;
	}
}

@media screen and (max-width: 1280px) {

	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 980px) {

	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 736px) {

	body, input, select, textarea {
		font-size: 12pt;
	}
}

@media screen and (max-width: 640px) {

	body, input, select, textarea {
		font-size: 12pt;
	}
}

a {
	-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
	border-bottom: dotted 2px rgba(255, 255, 255, 0.35);
	color: #ffffff; !important;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
	color: #ffffff !important;
}

a.special:not(.button) {
	text-decoration: none;
	border-bottom: 0;
	display: block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0 0 2em 0;
	text-transform: uppercase;
}

a.special:not(.button):before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

a.special:not(.button):before {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.125);
	content: '\f105';
	display: inline-block;
	font-size: 1.25em;
	height: 2em;
	line-height: 1.65em;
	margin-right: 0.85em;
	text-align: center;
	text-indent: 0.15em;
	vertical-align: middle;
	width: 2em;
}

a.special:not(.button):hover:before {
	background-color: rgba(255, 255, 255, 0.025);
}

a.special:not(.button):active:before {
	background-color: rgba(255, 255, 255, 0.075);
}

strong, b {
	color: #ffffff;
	font-weight: 600;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
	font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	font-family: "Oswald", Helvetica, sans-serif;
	font-weight: 300;
	letter-spacing: 0.1em;
	margin: 0 0 1em 0;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-weight: 200;
}

h1.major, h2.major, h3.major, h4.major, h5.major, h6.major {
	padding-bottom: 1em;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 0.7em;
}

h5 {
	font-size: 0.7em;
}

h6 {
	font-size: 0.7em;
}

@media screen and (max-width: 736px) {

	h2 {
		/*font-size: 1em;*/
	}

	h3 {
		/*font-size: 0.8em;*/
	}

}


hr {
	border: 0;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	margin: 2.5em 0;
}

hr.major {
	margin: 4em 0;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

/* Section/Article */

section.special, article.special {
	text-align: center;
}

/* Box */

.box {
	border-radius: 5px;
	border: solid 2px rgba(255, 255, 255, 0.125);
	margin-bottom: 2em;
	padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
	margin-bottom: 0;
}

.box.alt {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

/* Image */

.image {
	border-radius: 5px;
	border: 0;
	display: inline-block;
	position: relative;
}

.image img {
	border-radius: 5px;
	display: block;
}

.image.left, .image.right {
	max-width: 40%;
}

.image.left img, .image.right img {
	width: 100%;
}

.image.left {
	float: left;
	padding: 0 1.5em 1em 0;
	top: 0.25em;
}

.image.right {
	float: right;
	padding: 0 0 1em 1.5em;
	top: 0.25em;
}

.image.fit {
	display: block;
	margin: 0 0 2em 0;
	width: 100%;
}

.image.fit img {
	width: 100%;
}

.image.main {
	display: block;
	margin: 0 0 3em 0;
	width: 100%;
}

.image.main img {
	width: 100%;
}

/* Features */

.features {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.features article {
	padding: 1.75em 1.75em 0.1em 1.75em ;
	border-radius: 5px;
	margin: 1.5em 3em 1.5em 0;
	width: calc(25% - 1.5em);
}

.features article:nth-child(2n) {
	margin-right: 0;
}

.features article .image {
	margin-bottom: 1.75em;
	margin-top: -1.75em;
	width: calc(50% + 3.5em);
}

.features article .image img {
	border-radius: 5px 5px 0 0;
	width: 100%;
}

@media screen and (max-width: 980px) {

	.features article {
		margin: 1em 2em 1em 0;
		width: calc(50% - 1em);
	}

}

@media screen and (max-width: 736px) {

	.features article {
		padding: 1.5em 1.5em 0.1em 1.5em ;
		margin: 0.875em 1.75em 0.875em 0;
		width: calc(50% - 0.875em - 1px);
	}

	.features article .image {
		margin-bottom: 1.5em;
		margin-top: -1.5em;
		width: calc(50% + 3em);
	}

}

@media screen and (max-width: 640px) {

	.features {
		display: block;
	}

	.features article {
		width: 100%;
		margin: 0 0 2em 0 !important;
	}

}

/* Header */

#header {
	-moz-transition: background-color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;
	background-color: rgba(32,26,22,.9);
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	padding: 0 1.25em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
}

#header h1 {
	-moz-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	-webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	-ms-transition: opacity 0.2s ease-in-out, visibility 0.2s;
	transition: opacity 0.2s ease-in-out, visibility 0.2s;
	border-bottom: 0;
	font-size: 1.1em;
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}

#header h1 a {
	border: 0;
}

#header.alt {
	background-color: transparent;
}

#header.alt h1 {
	opacity: 0;
	visibility: hidden;
}

@media screen and (max-width: 736px) {

	#header {
		height: 2.75em;
		line-height: 2.75em;
	}
}

/* Menu */

#page-wrapper {
	-moz-transition: -moz-filter 0.25s ease;
	-webkit-transition: -webkit-filter 0.25s ease;
	-ms-transition: -ms-filter 0.25s ease;
	transition: filter 0.25s ease;
	width: 85%;
	margin: auto;
}

@media screen and (max-width: 736px) {

	#page-wrapper {
		width: 100%;
	}

}

/* Banner */

#banner {
	padding: 8em 0 3em 0 ;
}

#banner .center {
	text-align: center;
}

#banner .inner {
	margin: 0 auto;
	width: 55em;
}

#banner .logo {
	-moz-transition: opacity 2s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 2s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 2s ease, -ms-transform 1s ease;
	transition: opacity 2s ease, transform 1s ease;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
	margin: 0 0 1.3em 0;
	border-radius: 2px;
}

#banner .logo .icon {
	border-radius: 100%;
	border: solid 2px rgba(255, 255, 255, 0.125);
	cursor: default;
	display: inline-block;
	font-size: 2em;
	height: 2.25em;
	line-height: 2.25em;
	text-align: center;
	width: 2.25em;
}

#banner h2 {
	-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
	transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-moz-transition-delay: 0.65s;
	-webkit-transition-delay: 0.65s;
	-ms-transition-delay: 0.65s;
	transition-delay: 0.65s;
	-moz-filter: blur(0);
	-webkit-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	opacity: 1;
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	font-size: 3em;
	margin-bottom: 0.8em;
	padding-bottom: 0.4em;
}

#banner p {
	-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
	transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-moz-transition-delay: 0.8s;
	-webkit-transition-delay: 0.8s;
	-ms-transition-delay: 0.8s;
	transition-delay: 0.8s;
	-moz-filter: blur(0);
	-webkit-filter: blur(0);
	-ms-filter: blur(0);
	filter: blur(0);
	opacity: 1;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
	letter-spacing: 0.1em;
	line-height: 2;
	text-transform: uppercase;
}

@media screen and (max-width: 1280px) {

	#banner {
		padding: 7em 0 8.25em 0 ;
		/*background-color: #2e3141;*/
		/*background-image: linear-gradient(to top, rgba(32,26,22,.7), rgba(32,26,22,.7)), url("../../images/bg.jpg");*/
		background-size: auto, cover;
		background-position: center, center;
		margin-bottom: -6.5em;
	}

}

@media screen and (max-width: 980px) {

	#banner {
		padding: 12em 3em 12.375em 3em ;
		margin-bottom: -4.75em;
	}

	#banner .inner {
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	#banner {
		padding: 5em 2em 4.25em 2em ;
		margin-bottom: -2.5em;
	}

	#banner .logo {
		margin: 0 0 1em 0;
	}

	#banner .logo .icon {
		font-size: 1.5em;
	}

	#banner h2 {
		/*font-size: 1.5em;*/
	}

	#banner p {
		/*font-size: 0.8em;*/
	}

}

body.is-loading #banner .logo {
	-moz-transform: translateY(0.5em);
	-webkit-transform: translateY(0.5em);
	-ms-transform: translateY(0.5em);
	transform: translateY(0.5em);
	opacity: 0;
}

body.is-loading #banner h2 {
	opacity: 0;
	-moz-transform: translateX(0.25em);
	-webkit-transform: translateX(0.25em);
	-ms-transform: translateX(0.25em);
	transform: translateX(0.25em);
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

body.is-loading #banner p {
	opacity: 0;
	-moz-transform: translateX(0.5em);
	-webkit-transform: translateX(0.5em);
	-ms-transform: translateX(0.5em);
	transform: translateX(0.5em);
	-moz-filter: blur(2px);
	-webkit-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/* Wrapper */

#wrapper > header {
	padding: 11em 0 2.25em 0 ;
}

#wrapper > header .inner {
	margin: 0 auto;
	width: 55em;
}

#wrapper > header h2 {
	border-bottom: solid 2px rgba(255, 255, 255, 0.125);
	font-size: 2em;
	margin-bottom: 0.8em;
	padding-bottom: 0.4em;
}

#wrapper > header p {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0.1em;
	line-height: 2;
	text-transform: uppercase;
}

@media screen and (max-width: 1280px) {

	#wrapper > header {
		padding: 9em 0 6.25em 0 ;
		/*background-color: #2e3141;
		background-image: linear-gradient(to top, rgba(32,26,22,.7) rgba(32,26,22,.7)), url("../../images/bg.jpg");*/
		background-size: auto, cover;
		background-position: center, 0% 30%;
		margin-bottom: -6.5em;
	}

}

@media screen and (max-width: 980px) {

	#wrapper > header {
		padding: 11em 3em 7.375em 3em ;
		background-size: auto, cover;
		background-position: center, 0% 0%;
		margin-bottom: -4.75em;
	}

	#wrapper > header .inner {
		width: 100%;
	}

}

@media screen and (max-width: 736px) {

	#wrapper > header {
		padding: 6.5em 2em 3em 2em ;
		background-size: auto, 125%;
		margin-bottom: -2.5em;
	}

	#wrapper > header h2 {
		font-size: 1.25em;
	}

	#wrapper > header p {
		font-size: 0.8em;
	}

}

.wrapper {
	/*background-color: #2e3141;*/
	margin: 6.5em 0;
	position: relative;
}

.wrapper:before, .wrapper:after {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height: 6.5em;
	position: absolute;
	width: 100%;
}

.wrapper:before {
	left: 0;
	top: -6.5em;
}

.wrapper:after {
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	transform: scaleY(-1);
	bottom: -6.5em;
	left: 0;
}

.wrapper.alt:before {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}

.wrapper.alt:after {
	-moz-transform: scaleY(-1) scaleX(-1);
	-webkit-transform: scaleY(-1) scaleX(-1);
	-ms-transform: scaleY(-1) scaleX(-1);
	transform: scaleY(-1) scaleX(-1);
}

.wrapper .inner {
	padding: 3em 0 1em 0 ;
	margin: 0 auto;
	width: 55em;
}

.wrapper.style2 {
	background-color: #353849;
}

.wrapper.spotlight .inner {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.wrapper.spotlight .image {
	border-radius: 20%;
	margin: 0 3em 2em 0;
	width: 22em;
	overflow: hidden;
	-ms-flex: 1;
}

.wrapper.spotlight .image img {
	width: 100%;
}

.wrapper.spotlight .content {
	width: 100%;
	-ms-flex: 2;
}

.wrapper.spotlight:nth-child(2n - 1) .inner {
	-moz-flex-direction: row-reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	text-align: right;
}

.wrapper.spotlight:nth-child(2n - 1) .image {
	margin: 0 0 2em 3em;
}


@media screen and (max-width: 980px) {

	.wrapper {
		margin: 4.75em 0;
	}

	.wrapper:before, .wrapper:after {
		height: 4.75em;
	}

	.wrapper:before {
		top: -4.75em;
	}

	.wrapper:after {
		bottom: -4.75em;
		left: 0;
	}

	.wrapper .inner {
		padding: 3em 3em 1em 3em ;
		width: 100%;
	}

	.wrapper.spotlight .image {
		margin: 0 2em 2em 0;
		width: 32em;
	}

	.wrapper.spotlight:nth-child(2n - 1) .image {
		margin: 0 0 2em 2em;
	}

}

@media screen and (max-width: 736px) {

	.wrapper {
		margin: 2.5em 0;
	}

	.wrapper:before, .wrapper:after {
		height: 2.5em;
	}

	.wrapper:before {
		top: -2.5em;
	}

	.wrapper:after {
		bottom: -2.5em;
		left: 0;
	}

	.wrapper .inner {
		padding: 2em 2em 0.1em 2em ;
	}

	.wrapper.spotlight .inner {
		-moz-align-items: -moz-flex-start;
		-webkit-align-items: -webkit-flex-start;
		-ms-align-items: -ms-flex-start;
		align-items: flex-start;
	}

	.wrapper.spotlight .image {
		width: 19em;
		margin: 0 1.75em 2em 0;
	}

	.wrapper.spotlight:nth-child(2n - 1) .image {
		margin: 0 0 2em 1.75em;
	}

}

@media screen and (max-width: 640px) {

	.wrapper.spotlight .inner {
		display: block;
	}

	.wrapper.spotlight .image {
		margin: 0 0 1em 0 !important;
		max-width: 85%;
		width: 12em;
	}

}

@media screen and (max-width: 360px) {

	.wrapper .inner {
		padding: 2em 1.5em 0.1em 1.5em ;
	}

}

/* Footer */

#footer .inner {
	padding: 0 0 3em 0 ;
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 55em;
}

#footer .inner > * {
	width: 100%;
}

#footer .inner form {
	margin: 0 3em 0 0;
	width: calc(50% - 1.5em);
}

#footer .inner .contact {
	width: calc(50% - 1.5em);
}

#footer .inner .copyright {
	border-top: solid 2px rgba(255, 255, 255, 0.125);
	list-style: none;
	margin: 2em 0 2em 0;
	padding: 2em 0 0 0;
	width: 100%;
}

#footer .inner .copyright li {
	border-left: solid 2px rgba(255, 255, 255, 0.125);
	color: rgba(255, 255, 255, 0.35);
	display: inline-block;
	font-size: 1em;
	line-height: 1;
	margin-left: 1em;
	padding: 0;
	padding-left: 1em;
}

#footer .inner .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#footer .inner .copyright li a {
	color: inherit;
}

#contact-me {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.contact-info {
	display: flex;
	align-items: center;
}

.contact-info a {
	margin-left: .5em;
	font-size: 1.2em;
	line-height: 1em;
}

@media screen and (max-width: 1280px) {

	#footer {
		background-size: auto, cover;
		background-position: center, center;
		margin-top: -6.5em;
		padding-top: 6.5em;
	}

}

@media screen and (max-width: 980px) {

	#footer {
		margin-top: -4.75em;
		padding-top: 4.75em;
	}

	#footer .inner {
		padding: 3em 3em 1em 3em ;
		display: block;
		width: 100%;
	}

	#footer .inner form {
		width: 100%;
		margin: 0 0 4em 0;
	}

	#footer .inner .contact {
		width: 100%;
		margin: 0 0 4em 0;
	}

	#footer .inner .copyright {
		margin: 2em 0 2em 0;
	}

}

@media screen and (max-width: 736px) {

	#footer {
		margin-top: -2.5em;
		padding-top: 2.5em;
	}

	#footer .inner {
		padding: 2em 2em 0.1em 2em ;
	}

	#footer .inner form {
		margin: 0 0 3em 0;
	}

	#footer .inner .contact {
		margin: 0 0 3em 0;
	}

}

@media screen and (max-width: 640px) {

	#footer .inner .copyright li {
		border-left: 0;
		display: block;
		margin: 1em 0 0 0;
		padding-left: 0;
	}

	#footer .inner .copyright li:first-child {
		margin-top: 0;
	}

	#contact-me {
		flex-direction: column;
	}

	.contact-info {
		margin: 1em 0 1em 0;
	}
}

@media screen and (max-width: 360px) {

	#footer .inner {
		padding: 2em 1.5em 0.1em 1.5em ;
	}

}
